{% extends 'base.html' %}

{% block content %}
<h1>Персональный сайт Сергея Дмитриева</h1>
<p>Контакты: 
    <ul>
        <li>Email: graywrk@gmail.com</li>
        <li><a href="https://www.linkedin.com/in/сергей-дмитриев-140872104">Linkedin</a></li>
        <li><a href="https://spb.hh.ru/resume/a1568fd7ff025c992c0039ed1f635a43324761">hh.ru</a></li>
        <li><a href="https://github.com/graywrk/">GitHub</a</li>
        <li><a href="https://gitlab.com/graywrk/">GitLab</a></li>
    </ul>
</p>

{% endblock content%}